*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/assets/
/docs/Analysis_Feature_Concepts.md
/docs/Analysis_Feature_Tasks.md
/docs/LLM_Development_Prompt_Template.md
/docs/TDS_Analysis_Feature.md
